body {
  background-color: LightSteelBlue;
  color: black;
}

/* stylized text blocks (cause we're getting fancy with it)*/
div.item {
    display:block;
    background:#b7d2dd;
    padding: 5;
    margin: 30;
    border-radius: 15px;
    border-width: 3;
    color: #6698ad;
}

li.loc_cat a {
  color:#6698ad;}


/* what blackboxy code? it's not blackboxy, I don't know what you're talking about */
/*(Style the button that is used to open and close the collapsible content) */
  .collapsible {
  background-color: #b7d2dd;
  color: #6698ad;
  cursor: pointer;
  padding: 5;
  margin: 30;
  width: 90%;
  border-radius: 15px;
  border-width: 3;
  border-color: #b7d2dd;
  text-align: left;
  outline: none;
}


/* Style the collapsible content. (Note: hidden by default) */
.content {
  display:block;
  padding: 0 18px;
  overflow: hidden;
  background-color: ##b7d2dd;
  color: #6698ad;
}


