body {
  background-color: LightSteelBlue;
  color: black;
}

/* stylized text blocks (cause we're getting fancy with it)*/
div.item {
    display:block;
    background:#b7d2dd;
    padding: 5;
    margin: 30;
    border-radius: 15px;
    border-width: 3;
    color: #6698ad;
}

li.loc_cat a {
  color:#6698ad;}


/* what blackboxy code? it's not blackboxy, I don't know what you're talking about */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


